.idea/
venv/
__pycache__/
results/
StyleGAN/models/
StyleGAN/saved_examples/
data/omniart_v3_datadump.csv
data/dataset
data/mnist
frameExtractor/frame*
frameExtractor/vid.mp4
frameExtractor/dataset
StyleGAN/testing
StyleGAN2/things
data/nst
data/out.txt
data/letters/