.idea/
venv/
__pycache__/
results/
StyleGAN/models/
StyleGAN/saved_examples/
data/omniart_v3_datadump.csv
data/dataset
data/mnist
frameExtractor/frame*
frameExtractor/vid.mp4
frameExtractor/dataset
StyleGAN/testing
StyleGAN2/things
data/nst
data/out.txt
data/letters/
*.pth
StyleGAN/EMNIST
StyleGAN/graffiti
StyleGAN15-2/saved_examples
StyleGAN15-2/models
StyleGAN2/saved_examples
StyleGAN2/saved_examples2
StyleGAN2/models
StyleGAN2/models2
slurm*
.ipynb_checkpoints
output.txt