.editorContainer{
    position: relative;
    /* height: 400px; */
    width: fit-content;    
    /* background-color: rgba(202, 102, 102, 0.35); */

    background-color: black;
    border-radius: 5px;
    padding: 5px;
    margin: 1em  ;
    overflow: hidden;
}

@media print{
    *{
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact;
    }

}

.hoodiePattern{
    z-index: 5;
    position: relative;
    pointer-events: none;
}

.overlayImage{
    width: 100px;
    height: 100px;
    position: absolute;
}

.movableImage{
    width: fit-content;
    z-index: 2;
}

.movableImageContainer{
    position: absolute;
    top: 200px;
    left: 131px;
    z-index: 2;
    height: 0px;
    width: 0px;
}

.styleImage{
    border-radius: 10px;
}

.imageStyleOptions{
    border: 2px solid #555;
    border-radius: 15px;
    padding: 1em;
    position: relative;
    width: 250px
}
.sectionHeading{
    position: absolute;
    top: -5px;
    left: 15px;
    margin: 0;
    padding: 0px 5px;
    background-color: #252525;
    height: 5px;
    display: flex;
    align-items: center;
}

.inputContainer{
    position: relative;
    border: 2px solid #555; 
    margin: 15px 0 0 0;
    height: 35px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.colorSelector{
    width: 20px;
    height: 20px;
    margin-left: 10px;
}
.inputContainer > label{
    position: absolute;
    top: -5px;
    left: 10px;
    font-size: 15px;
    height: 5px;
    padding: 0px 5px;
    background-color: #252525;
    display: flex;
    align-items: center;
}
.inputContainer > input{
    border: none;
    outline: none;
    background-color: transparent;
    /* border: 2px solid #555;  */
    /* border-radius: 10px; */
    /* padding: 10px 5px 5px; */
    color: whitesmoke;
    padding: 10px
}

/* .activeImage{
    border: 1px solid #555;
    box-shadow: 0 0 15px 1px #555;
} */

.activeImage{
    box-shadow: rgba(240, 46, 170, 0.5) 0 0 0px 3px, rgba(240, 46, 170, 0.2) 0 0 0px 6px, rgba(240, 46, 170, 0.1) 0 0 0px 9px;
    mix-blend-mode: luminosity;
}